.awesomebox_metadata-label {
  display: block;
}
.awesomebox_metadata-input {
  display: block;
  width: 100%;
}
#dashboard_right_now awesomebox-count a:before,
#dashboard_right_now awesomebox-count span:before {
  content: "\f331";
}
