.awesomebox {
  clear: both;
  display: inline-block;
  vertical-align: middle;
}
.book-jacket, #content .book-jacket-caption .book-jacket {
  max-width: 200px;
}
@media (max-width: 600px) {
  .book-jacket {
    float: none;
    clear: both;
    margin: 0 auto 1em;
  }
}
.awesomebox_widget_image {
  border-radius: 1em;
  width: 48%;
  vertical-align: middle;
  margin: 1px 1% 1px 0;
}
.awesomebox_widget_link {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding: 0.5em;
}

#awesomebox-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
}

.post-type-archive-awesomebox #container_wrap {
  width: 100%;
}
